div {
  position: relative;
  background-color: gray;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  top: 100px;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.arrow::before {
  content: "";
  position: absolute;
}

.left::before {
  right: 100%;
  top: auto;
  border: 20px solid;
  border-color: transparent gray transparent transparent;
}

.top::before {
  right: 50%;
  bottom: 100%;
  border: 20px solid;
  border-color: transparent transparent gray transparent;
}

.bottom::before {
  right: 50%;
  top: 100%;
  border: 20px solid;
  border-color: gray transparent transparent transparent;
}

.right::before {
  left: 100%;
  top: auto;
  border: 20px solid;
  border-color: transparent transparent transparent gray;
}
